.react-quill-view .ql-toolbar{
    display: none;
}

.react-quill-view .ql-container{
    border: none !important;
    font-size: 1rem;
    min-height: 100px;
}

.react-quill-view .ql-editor{
    padding: 0 !important
}


.react-quill-view-custom-color .ql-toolbar{
    display: none;
}


.react-quill-view-custom-color .ql-container{
    border: none !important;
    font-size: 1rem;
    min-height: 100px;
    color: #969697;
}

.react-quill-view-custom-color .ql-editor{
    padding: 0 !important
}


.react-quill-update .ql-toolbar{
    background-color: #f8f9fa;
    border: 1px solid #e0e5ebe3 !important;
    border-radius: 0.375rem 0.375rem 0 0;
}

.react-quill-update .ql-container{
    border: 1px solid #e0e5ebe3 !important;
    border-radius: 0 0 0.375rem 0.375rem;
    min-height: 100px;
}
